.content .about {
    width: 995px;
    height: 201px;
    padding: 20px 0 20px 45px;
    margin: 0 auto 80px;
    color: #FFFFFF;
    background-image: url("../images/dakuang.png");
}

.content .about * {
    float: left;
}

.content .about .about_left {
    width: 770px;
}

.content .about .about_right {
    width: 225px;
    text-align: center;
}

.content .about .about_right *{
    float: none;
}

.content .about .title {
    font-size: 24px;
    line-height: 60px;
}

.content .about .math_rule {
    width: 108px;
    height: 28px;
    margin: 15px 0 0 15px;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
    border: 1px solid #eaa232;
}

.content .about .content_text {
    font-size: 14px;
    line-height: 28px;
}

.content .about .logo {
    width: 86px;
    height: 86px;
    margin: 20px 0 45px;
}

.content .about .details {
    float: none;
    width: 145px;
    height: 34px;
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    margin: 0 auto;
    background-image: url("../images/details.png");
}
.content .message{
    width: 1040px;
    margin: 0 auto;
    color: #FFFFFF;
}
.content .message>*{
    float: left;
}
.content .message .image {
    width: 400px;
    height: 400px;
    margin-right: 19px;
    background-color: #15417e;
}
.content .message .info {
    width: 300px;
}
.content .message .info .title{
    height: 60px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    background-color: #15417e;
}
.content .message .info li {
    width: 260px;
    padding: 32px 0 32px 40px;
    font-size: 14px;
    /*line-height: 84px;*/
    border-bottom: 1px solid #15417e;
    background: url("../images/listicon.png") no-repeat 15px 35px;
}
.content .message .info .more{
    float: right;
    font-size: 14px;
    text-align: right;
    line-height: 40px;
}
.content .message .info .more_icon{
    float: right;
    margin: 13px 0 0 5px;
    width: 14px;
    height: 14px;
}
.content .message .vertical_line {
    width: 1px;
    height: 400px;
    margin: 0 10px;
    background-color: #15417e;
}
.content .wonderful_images {
    width: 1040px;
    margin: 0 auto;
}