*{
    margin: 0;
    padding: 0;
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal!important;
}
ul,ol,li{
    list-style: none;
}
.bg{
    background-image: url("../images/bg.png");
    background-size: auto 3769px;
}
.bg .main{
    width: 1200px;
    margin: 0 auto;
}
.bg .main .header{
    width: 1200px;
    color: #FFFFFF;
    position: relative;
}
.bg .main .header .title{
    float: left;
    font-size: 28px;
    margin-left: 50px;
    line-height: 100px;
}
.bg .main .header .title span{
    font-size: 14px;
}
.bg .main .header .sign_up{
    float: right;
    width: 136px;
    height: 34px;
    margin-top: 40px;
    margin-right: 54px;
    font-size: 12px;
    text-align: center;
    line-height: 34px;
    background-image: url("../images/baomin.png");
    background-size: 136px 34px;
}
.bg .main .header .banner{
    width: 1200px;
    display: block;
    margin: 0 auto;
    background-image: url("../images/banner.png");
    border-top: 2px solid #eaa232;
    border-bottom: 2px solid #eaa232;
}
.bg .main .header .logo{
    position: absolute;
    top: 150px;
    right: 50px;
}
.bg .main .header .banner_text{
    position: absolute;
    top: 275px;
    left: 50%;
    margin-left: -294px;
}
.bg .main .bar li{
    float: left;
    width: 142px;
    height: 57px;
    margin: 60px 14px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 50px;
    background-image: url("../images/barbg.png");
    background-size: 142px 57px;
    cursor: pointer;
}
.bg .main .bar .action{
    background-image: url("../images/barbgac.png");
}
.bg .main .line{
    display: block;
    margin: 0 auto 80px;
}


.bg .main .content .left_line_title{
    border-left: 6px solid #FFFFFF;
    padding-left: 20px;
    color: #FFFFFF;
    margin: 25px 0;
    line-height: 30px;
}
.bg .main .content .float_left{
    float: left;
}
.bg .main .content .float_right{
    float: right;
}
.bg .main .content .bg_color{
    background-color: #15417e;
}
.bg .main .content .text_center{
    text-align: center;
}


.bg .footer{
    /*width: 1200px;*/
    height: 30px;
}
.bg .footer .line{
    display: block;
    margin: 0 auto 80px;
}
.bg .footer .info{
    /*width: 1050px;*/
    height: 330px;
    background-color: #15417e;
}
.bg .footer .info ul{
    width: 1050px;
    margin: 0 auto;
    padding: 40px 0;
    font-size: 14px;
    color: #c9cacb;
    line-height: 40px;
    border-bottom: 2px solid #152f5c;
}
.bg .footer .info .one_li{
    float: left;
    width: 23%;
}
.bg .footer .info .partners{
    float: right;
    line-height: 120px;
}
.bg .cursor{
    cursor: pointer;
}
.bg .hide{
    display: none!important;
}
.bg .clear{
    clear: both!important;
}