{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/css/index.css">
<div class="content">
    <div class="about">
        <div class="about_left">
            <h1 class="title">关于2019中国篮球公开赛</h1>
            <p class="math_rule cursor">比赛规则</p>
            <p class="content_text">中国篮球公开赛(CHINA BASKETBALL OPEN，简称:CBO)是由中国篮球协会主办，各地市级篮球协会承办，为落实全民健身国家战略、倡导文明，健康生活方式、促进全民健身与全民健康深度融合，并进一步推动我国篮球运动的发展，加快篮球文化在中国的普及和宣导，而推出的一项由中国3亿篮球爱好者参与的全国性大型公益篮球赛事活动平台。</p>
            <h1 class="title">谁将登顶2019中国篮球公开赛总冠军？让我们一起敬请期待！</h1>
        </div>
        <div class="about_right">
            <img class="logo" src="__STATIC__/images/logo.png">
            <div class="details cursor">详&nbsp;&nbsp;&nbsp;&nbsp;情</div>
        </div>
    </div>
    <img class="line" src="__STATIC__/images/line.png">
    <div class="message">
        <div class="image"></div>
        <div class="info">
            <h1 class="title">新闻动态</h1>
            <ul>
                <li><a href="#">胜负时刻：北京因何击败浙江完成复仇？</a></li>
                <li><a href="#">胜负时刻：北京因何击败浙江完成复仇？</a></li>
                <li><a href="#">胜负时刻：北京因何击败浙江完成复仇？</a></li>
                <li><a href="#">胜负时刻：北京因何击败浙江完成复仇？</a></li>
            </ul>
            <p class="more cursor">更多<img class="more_icon" src="__STATIC__/images/pageright.png"></p>
        </div>
        <div class="vertical_line"></div>
        <div class="info">
            <h1 class="title">新闻动态</h1>
            <ul>
                <li><a href="#">胜负时刻：北京因何击败浙江完成复仇？</a></li>
                <li><a href="#">胜负时刻：北京因何击败浙江完成复仇？</a></li>
                <li><a href="#">胜负时刻：北京因何击败浙江完成复仇？</a></li>
                <li><a href="#">胜负时刻：北京因何击败浙江完成复仇？</a></li>
            </ul>
            <p class="more cursor">更多<img class="more_icon" src="__STATIC__/images/pageright.png"></p>
        </div>
    </div>
    <div class="clear"></div>
    <div class="wonderful_images">
        <h1 class="left_line_title">精彩图集</h1>
    </div>
</div>
{include file="public/footer"}