{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/css/player_score_list/index.css">
<div class="content">
    <img class="line" src="__STATIC__/images/line.png">
    <!--球员积分榜-->
    <div class="player_score_list">
        <div class="table_head">
            <div class="left">
                <h1 class="rank">排名</h1>
                <h1 class="team">球队</h1>
                <h1 class="name">姓名</h1>
                <h1 class="score">积分</h1>
            </div>
            <div class="right">
                <h1 class="rank">排名</h1>
                <h1 class="team">球队</h1>
                <h1 class="name">姓名</h1>
                <h1 class="score">积分</h1>
            </div>
        </div>
        <ul class="player_list">
            <li class="left">
                <h1 class="rank">1</h1>
                <div class="team">
                        <img src="__STATIC__/images/teamlogo.png"/>
                        <h1>球队</h1>
                </div>
                <h1 class="name">BOLULU</h1>
                <h1 class="score">70</h1>
                <div class="none"></div>
            </li>
            <li class="right">
                <div class="none"></div>
                <h1 class="rank">1</h1>
                <div class="team">
                    <img src="__STATIC__/images/teamlogo.png"/>
                    <h1>球队</h1>
                </div>
                <h1 class="name">BOLULU</h1>
                <h1 class="score">70</h1>
            </li>
            <li class="left">
                <h1 class="rank">1</h1>
                <div class="team">
                        <img src="__STATIC__/images/teamlogo.png"/>
                        <h1>球队</h1>
                </div>
                <h1 class="name">BOLULU</h1>
                <h1 class="score">70</h1>
                <div class="none"></div>
            </li>
            <li class="right">
                <div class="none"></div>
                <h1 class="rank">1</h1>
                <div class="team">
                    <img src="__STATIC__/images/teamlogo.png"/>
                    <h1>球队</h1>
                </div>
                <h1 class="name">BOLULU</h1>
                <h1 class="score">70</h1>
            </li>
            <li class="left">
                <h1 class="rank">1</h1>
                <div class="team">
                        <img src="__STATIC__/images/teamlogo.png"/>
                        <h1>球队</h1>
                </div>
                <h1 class="name">BOLULU</h1>
                <h1 class="score">70</h1>
                <div class="none"></div>
            </li>
            <li class="right">
                <div class="none"></div>
                <h1 class="rank">1</h1>
                <div class="team">
                    <img src="__STATIC__/images/teamlogo.png"/>
                    <h1>球队</h1>
                </div>
                <h1 class="name">BOLULU</h1>
                <h1 class="score">70</h1>
            </li>
            <div class="line"></div>
            <div class="clear"></div>
        </ul>
        <div class="see_more text_center bg_color cursor"></div>
    </div>
    <div class="clear"></div>
</div>
{include file="public/footer"}