{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/css/download/index.css">
<div class="content">
    <img class="line" src="__STATIC__/images/line.png">
    <!--下载专区-->
    <div class="download">
        <div class="search">
            <div class="click_search bg_size cursor">点击搜索</div>
            <input class="search_input" type="text" placeholder="搜索您要下载的资料..."/>
            <div class="clear"></div>
        </div>
        <div class="table_head">
            <div class="bg_color text_center">下载文件</div>
            <div class="bg_color text_center">点击下载</div>
            <div class="bg_color text_center updatt_time">更新时间</div>
        </div>
        <ul class="list">
            <li>胜负时刻:北京因何击败浙江完成复仇？<img class="download_icon bg_color cursor" src="__STATIC__/images/down.png"/><span class="time">2019-07-17</span></li>
            <li>胜负时刻:北京因何击败浙江完成复仇？<img class="download_icon bg_color cursor" src="__STATIC__/images/down.png"/><span class="time">2019-07-17</span></li>
            <li>胜负时刻:北京因何击败浙江完成复仇？<img class="download_icon bg_color cursor" src="__STATIC__/images/down.png"/><span class="time">2019-07-17</span></li>
            <li>胜负时刻:北京因何击败浙江完成复仇？<img class="download_icon bg_color cursor" src="__STATIC__/images/down.png"/><span class="time">2019-07-17</span></li>
            <li>胜负时刻:北京因何击败浙江完成复仇？<img class="download_icon bg_color cursor" src="__STATIC__/images/down.png"/><span class="time">2019-07-17</span></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
{include file="public/footer"}