{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/css/message/index.css">
<div class="content">
    <img class="line" src="__STATIC__/images/line.png">
    <!--公告-->
    <div class="message">
        <h1 class="left_line_title">公告</h1>
        <ul class="list">
            <li>胜负时刻:北京因何击败浙江完成复仇？<span class="time">2019-07-17</span></li>
            <li>胜负时刻:北京因何击败浙江完成复仇？<span class="time">2019-07-17</span></li>
            <li>胜负时刻:北京因何击败浙江完成复仇？<span class="time">2019-07-17</span></li>
            <li>胜负时刻:北京因何击败浙江完成复仇？<span class="time">2019-07-17</span></li>
            <li>胜负时刻:北京因何击败浙江完成复仇？<span class="time">2019-07-17</span></li>
        </ul>
        <div class="see_more text_center bg_color cursor">查看更多</div>
    </div>
    <div class="clear"></div>
</div>
{include file="public/footer"}