{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/css/player_score/details.css">
<div class="content">
    <img class="line" src="__STATIC__/images/line.png">
    <!--球员积分-->
    <div class="player_score">
        <h1 class="left_line_title">姓名：BOLULU&nbsp;&nbsp;&nbsp;&nbsp;球队：芝加哥公牛队</h1>
        <ul class="list">
            <li class="bg_color">
                <h1>对阵</h1>
                <h1>号码</h1>
                <h1>场数</h1>
                <h1>得分</h1>
                <h1>两分(率)</h1>
                <h1>三分(率)</h1>
                <h1>罚球(率)</h1>
                <h1>篮板(前/后)</h1>
                <h1>扣篮</h1>
                <h1>盖帽</h1>
                <h1>抢断</h1>
                <h1>助攻</h1>
                <h1>犯规</h1>
                <h1>被侵</h1>
                <h1>失误</h1>
            </li>
            <li>
                <h1>芝加哥公牛vs快船</h1>
                <h1>7</h1>
                <h1>1</h1>
                <h1>15</h1>
                <h1>0</h1>
                <h1>50</h1>
                <h1>100</h1>
                <h1>10</h1>
                <h1>6</h1>
                <h1>0</h1>
                <h1>1</h1>
                <h1>3</h1>
                <h1>0</h1>
                <h1>3</h1>
                <h1>1</h1>
            </li>
            <li>
                <h1>芝加哥公牛vs快船</h1>
                <h1>7</h1>
                <h1>1</h1>
                <h1>15</h1>
                <h1>0</h1>
                <h1>50</h1>
                <h1>100</h1>
                <h1>10</h1>
                <h1>6</h1>
                <h1>0</h1>
                <h1>1</h1>
                <h1>3</h1>
                <h1>0</h1>
                <h1>3</h1>
                <h1>1</h1>
            </li>
            <li>
                <h1>芝加哥公牛vs快船</h1>
                <h1>7</h1>
                <h1>1</h1>
                <h1>15</h1>
                <h1>0</h1>
                <h1>50</h1>
                <h1>100</h1>
                <h1>10</h1>
                <h1>6</h1>
                <h1>0</h1>
                <h1>1</h1>
                <h1>3</h1>
                <h1>0</h1>
                <h1>3</h1>
                <h1>1</h1>
            </li>
            <li>
                <h1>芝加哥公牛vs快船</h1>
                <h1>7</h1>
                <h1>1</h1>
                <h1>15</h1>
                <h1>0</h1>
                <h1>50</h1>
                <h1>100</h1>
                <h1>10</h1>
                <h1>6</h1>
                <h1>0</h1>
                <h1>1</h1>
                <h1>3</h1>
                <h1>0</h1>
                <h1>3</h1>
                <h1>1</h1>
            </li>
            <li>
                <h1>芝加哥公牛vs快船</h1>
                <h1>7</h1>
                <h1>1</h1>
                <h1>15</h1>
                <h1>0</h1>
                <h1>50</h1>
                <h1>100</h1>
                <h1>10</h1>
                <h1>6</h1>
                <h1>0</h1>
                <h1>1</h1>
                <h1>3</h1>
                <h1>0</h1>
                <h1>3</h1>
                <h1>1</h1>
            </li>
            <li>
                <h1>芝加哥公牛vs快船</h1>
                <h1>7</h1>
                <h1>1</h1>
                <h1>15</h1>
                <h1>0</h1>
                <h1>50</h1>
                <h1>100</h1>
                <h1>10</h1>
                <h1>6</h1>
                <h1>0</h1>
                <h1>1</h1>
                <h1>3</h1>
                <h1>0</h1>
                <h1>3</h1>
                <h1>1</h1>
            </li>
            <li>
                <h1>芝加哥公牛vs快船</h1>
                <h1>7</h1>
                <h1>1</h1>
                <h1>15</h1>
                <h1>0</h1>
                <h1>50</h1>
                <h1>100</h1>
                <h1>10</h1>
                <h1>6</h1>
                <h1>0</h1>
                <h1>1</h1>
                <h1>3</h1>
                <h1>0</h1>
                <h1>3</h1>
                <h1>1</h1>
            </li>
            <li>
                <h1>芝加哥公牛vs快船</h1>
                <h1>7</h1>
                <h1>1</h1>
                <h1>15</h1>
                <h1>0</h1>
                <h1>50</h1>
                <h1>100</h1>
                <h1>10</h1>
                <h1>6</h1>
                <h1>0</h1>
                <h1>1</h1>
                <h1>3</h1>
                <h1>0</h1>
                <h1>3</h1>
                <h1>1</h1>
            </li>
            <li>
                <h1>芝加哥公牛vs快船</h1>
                <h1>7</h1>
                <h1>1</h1>
                <h1>15</h1>
                <h1>0</h1>
                <h1>50</h1>
                <h1>100</h1>
                <h1>10</h1>
                <h1>6</h1>
                <h1>0</h1>
                <h1>1</h1>
                <h1>3</h1>
                <h1>0</h1>
                <h1>3</h1>
                <h1>1</h1>
            </li>
            <li>
                <h1>芝加哥公牛vs快船</h1>
                <h1>7</h1>
                <h1>1</h1>
                <h1>15</h1>
                <h1>0</h1>
                <h1>50</h1>
                <h1>100</h1>
                <h1>10</h1>
                <h1>6</h1>
                <h1>0</h1>
                <h1>1</h1>
                <h1>3</h1>
                <h1>0</h1>
                <h1>3</h1>
                <h1>1</h1>
            </li>
            <div class="clear"></div>
        </ul>
        <div class="see_more text_center bg_color cursor">查看更多</div>
    </div>
    <div class="clear"></div>
</div>
{include file="public/footer"}