{include file="public/header"}
<link rel="stylesheet" href="__STATIC__/css/news/index.css">
<div class="content">
    <img class="line" src="__STATIC__/images/line.png">
    <!--公告-->
    <div class="news">
        <h1 class="left_line_title">新闻</h1>
        <div class="big">
            <div class="one">
                <div class="image bg_color"></div>
                <p class="title"><img src="__STATIC__/images/listicon.png"/>红牛安奈吉总裁现场指导</p>
            </div>
            <div class="two">
                <div class="image bg_color"></div>
                <p class="title"><img src="__STATIC__/images/listicongray.png"/>红牛安奈吉总裁现场指导</p>
            </div>
            <div class="three">
                <div class="image bg_color"></div>
                <p class="title"><img src="__STATIC__/images/listicongray.png"/>红牛安奈吉总裁现场指导</p>
            </div>
            <div class="clear"></div>
        </div>
        <ul class="list">
            <li>
                <div class="image bg_color"></div>
                <div class="text">
                    <h2 class="title">中澳国际男篮对抗赛中国男篮</h2>
                    <p class="time">2019-07-17</p>
                </div>
            </li>
            <li>
                <div class="image bg_color"></div>
                <div class="text">
                    <h2 class="title">中澳国际男篮对抗赛中国男篮两胜一负,CBO联赛球员表现出色</h2>
                    <p class="time">2019-07-17</p>
                </div>
            </li>
            <li>
                <div class="image bg_color"></div>
                <div class="text">
                    <h2 class="title">中澳国际男篮对抗赛中国男篮两胜一负,CBO联赛球员表现出色</h2>
                    <p class="time">2019-07-17</p>
                </div>
            </li>
            <li>
                <div class="image bg_color"></div>
                <div class="text">
                    <h2 class="title">中澳国际男篮对抗赛中国男篮两胜一负,CBO联赛球员表现出色</h2>
                    <p class="time">2019-07-17</p>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
        <div class="see_more text_center bg_color cursor">查看更多</div>
    </div>
    <div class="clear"></div>
</div>
{include file="public/footer"}