.content .download {
    width: 1200px;
    margin: 0 auto;
    color: #FFFFFF;
}
.content .download .search{
    width: 1200px;
    font-size: 16px;
    padding-bottom: 50px;
    border-bottom: 1px solid #15417e;
}
.content .download .search .click_search{
    float: right;
    width: 138px;
    height: 34px;
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    background-image: url("../../images/details.png");
}
.content .download .search .search_input{
    float: right;
    width: 260px;
    height: 32px;
    margin-right: 35px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 32px;
    background-color: #192e61;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}
.content .download .table_head{
    width: 1200px;
    font-size: 16px;
    padding: 40px 0;
    margin-bottom: 20px;
}
.content .download .table_head div{
    float: right;
    width: 130px;
    height: 33px;
    font-size: 16px;
    line-height: 33px;
    border-radius: 4px;
}
.content .download .table_head .updatt_time{
    margin-right: 190px;
}
.content .download .table_head div:first-child{
    float: left;
}

.content .download .list{
    padding-bottom: 40px;
    margin-bottom: 80px;
    border-bottom: 1px solid #15417e;
}
.content .download .list li{
    width: 1180px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 60px;
    border-bottom: 1px solid #eaa232;
}
.content .download .list li:first-child{
    border-top: 1px solid #eaa232;
}
.content .download .list li .time{
    float: right;
    margin-right: 270px;
    line-height: 55px;
}
.content .download .list li .download_icon{
    float: right;
    width: 15px;
    height: 15px;
    padding: 5px;
    border-radius: 50%;
    margin-top: 15px;
    margin-right: 50px;
    /*background-color: #FFFFFF;*/
}
