<div class="clear"></div>
</div>
<div class="footer">
    <img class="line" src="__STATIC__/images/line.png">
    <div class="info">
        <ul>
            <li class="one_li">
                <ol>
                    <li class="two_li">主办单位 : 中国篮球协会</li>
                    <li class="two_li">合作伙伴 : 红牛®安奈吉</li>
                    <li class="two_li">赛事咨询 :</li>
                </ol>
            </li>
            <li class="one_li">
                <ol>
                    <li class="two_li">承办单位 : 中国篮球协会</li>
                    <li class="two_li">赞助商 : 中国篮球协会</li>
                    <li class="two_li">Email :</li>
                </ol>
            </li>
            <li class="one_li">
                <ol>
                    <li class="two_li">协办单位 : 中国篮球协会</li>
                    <li class="two_li">合作媒体 : </li>
                </ol>
            </li>
            <p class="partners">赛事数据独家合作伙伴:北京我奥科技有限公司</p>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<div class="clear"></div>
</div>
</body>
</html>