<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="__STATIC__/css/main.css">
</head>
<body>
<div class="bg">
    <div class="main">
        <div class="header">
            <h1 class="title">中国篮球公开赛<span> (CHINA BASKETBALL OPEN)</span></h1>
            <div class="sign_up bg_size">我要报名</div>
            <img class="banner" src="__STATIC__/images/banner.png"/>
            <img class="logo" src="__STATIC__/images/logo.png"/>
            <img class="banner_text" src="__STATIC__/images/ldry.png"/>
        </div>
        <ul class="bar">
            <li class="action"><a href="index">首页</a></li>
            <li><a href="match_synopsis">赛事简介</a></li>
            <li><a href="message">官方消息</a></li>
            <li><a href="news">新闻动态</a></li>
            <li>竞赛规程</li>
            <li>球员积分榜</li>
            <li><a href="download">下载专区</a></li>
        </ul>
        <div class="clear"></div>