<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="__STATIC__/css/main.css">
</head>
<body>
<div class="bg">
    <div class="main">
        <div class="header">
            <h1 class="title">中国篮球公开赛<span> (CHINA BASKETBALL OPEN)</span></h1>
            <div class="sign_up">我要报名</div>
            <img class="banner" src="__STATIC__/images/banner.png"/>
            <img class="logo" src="__STATIC__/images/logo.png"/>
            <img class="banner_text" src="__STATIC__/images/ldry.png"/>
        </div>
        <ul class="bar">
            <li class="action">首页</li>
            <li>赛事简介</li>
            <li>官方消息</li>
            <li>新闻动态</li>
            <li>禁赛规则</li>
            <li>球员积分榜</li>
            <li>下载专区</li>
        </ul>
        <div class="clear"></div>